footer
  .container
    .row
      .col-lg-12
        .label.label-custom
          a(href="mailto:info@aws-intro.com")
            | info@aws-intro.com
        .social-likes.pull-right
          .facebook(title="Share on Facebook")
            | Facebook
          .twitter(title="Share on Twitter", data-via="awsintro")
            | Twitter
          .plusone(title="Share on Google+")
            | Google+
