.preload
  .spinner

.banner.label.label-danger
  | #{banner}

nav.navbar.navbar-custom(role="navigation")
  .container
    .navbar-header
      div.icon-logo-horizontal(style='width: 345px; height: 145px')

    p.phone
      i.fa.fa-2x.fa-phone.black
      | &nbsp; (919) 747-3347
